@font-face {
    font-family: 'Bahnschrift';
    src: local('☺︎'),
        url('../fonts/bahnschrift.ttf') format('ttf'),
        url('../fonts/bahnschrift.woff') format('woff');
}

:root{
    --display-black: #000000;
    --display-grey: #F1F1F1;
    --right-green: #A6FFA6;
    --rock-blue: #6262FF;
    --paper-red: #FF5A5A;
    --scissors-yellow: #FFED4A;
    --announcer-card: min(80%, 90rem);
    --announcer-thematic: clamp(4rem, 10vw, 10rem);
    --announcer-text: clamp(1rem, 5vw, 5rem);
}

html{
    font-size: 10px;
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container, header, main, footer{
    width: 100%;
    font-family: 'Bahnschrift', Helvetica, sans-serif;
}

header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.announcerCard{
    width: var(--announcer-card);
    text-align: center;
}
div.announcerCard::before{
    width: 100%;
    height: clamp(0.5rem, 1vw, 0.8rem);
    display: flex;
    position: relative;
    top: var(--announcer-thematic);
    background-color: black;
    content: '';
}
div.announcerCard > .announcerText{
    font-size: var(--announcer-text);
}

main{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.scoreBoard{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.playerScore > div.player, div.aiScore > div.ai{
    width: 50%;
}
div.playerScore > div.score, div.aiScore > div.score{
    width: 50%;
}

footer{
    height: 10vh;
}