@font-face {
    font-family: 'Bahnschrift';
    src: local('☺︎'),
        url('../fonts/bahnschrift.ttf') format('ttf'),
        url('../fonts/bahnschrift.woff') format('woff');
}

:root{
    --display-black: #000000;
    --display-grey: #F1F1F1;
    --right-green: #A6FFA6;
    --wrong-red: #FF5A5A;
    --rock-blue: #6262FFAA;
    --paper-red: #FF5A5A77;
    --scissors-yellow: #FFED4ABB;
    --default-card-width: min(80%, 90rem);
    --host-card-width: min(80%, 75rem);
    --host-hr-height: clamp(0.3rem, 1vw, 0.4rem);
    --host-hr-origin: clamp(3rem, 9vw, 4rem);
    --host-text: clamp(1rem, 4vw, 2rem);
    --score-board-width: min(100%, 90rem);
    --user-score-board: min(35%, 25rem);
    --user-score-text: clamp(1.5rem, 3vh, 3rem);
    --user-choice-card: clamp(14rem, 30vw, 18rem);
    --button-board-width: min(80%, 70rem);
    --button-padding: clamp(1rem, 3vw, 1.5rem);
    --button-dimension: clamp(3rem, 10vw, 4rem);
    --button-shadow: clamp(0.3rem, 1vw, 0.5rem);
    --copyright-text: clamp(0.8rem, 3vw, 1.5rem);
}

html{
    font-size: 10px;
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container, header, main, footer{
    width: 100%;
    font-family: 'Bahnschrift', Helvetica, sans-serif;
}

header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.hostCard{
    width: var(--host-card-width);
    text-align: center;
}
div.hostCard::before{
    width: 100%;
    height: var(--host-hr-height);
    display: flex;
    position: relative;
    top: var(--host-hr-origin);
    background-color: black;
    content: '';
}
div.hostCard > .hostText{
    font-size: var(--host-text);
}

main{
    height: 75vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
div.scoreBoard{
    margin: auto 0;
    width: var(--score-board-width);
    height: clamp(5rem, 5vw, 10rem);
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, var(--user-score-board));
}
div.playerScore, div.aiScore{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div.playerScore > div, div.aiScore > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--user-score-text);
}
div.playerScore > div.player, div.aiScore > div.ai{
    border-right: 0.3rem solid var(--display-black);
    font-weight: 600;
}
div.displayBoard{
    margin: auto 0;
    width: var(--default-card-width);
    height: var(--user-choice-card);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, var(--user-choice-card));
}
div.displayBoard > div{
    display: flex;
    justify-content: center;
    background-color: var(--display-grey);
}
div.displayBoard > div.playerChoice{
    border-right: 0.5rem solid var(--display-black);
}
div.playerChoice > object{
    width: 40%;
    transform: rotate(45deg);
}
div.aiChoice > object{
    width: 40%;
    transform: rotate(-45deg);
}
div.buttonBoard{
    margin: auto 0;
    width: var(--button-board-width);
    height: min(20vw, 12rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.buttonBoard > button{
    position: relative;
    padding: var(--button-padding);
    border: none;
    border-radius: 50%;
    background-color: var(--display-grey);
}
div.buttonBoard > button:hover{
    cursor: pointer;
    background-color: var(--right-green);
}
div.buttonBoard > button.rock{
    transition: all ease-in-out 0.03s;
    box-shadow: var(--button-shadow) var(--button-shadow) var(--rock-blue);
}
div.buttonBoard > button.rock:active{
    top: var(--button-shadow);
    left: var(--button-shadow);
    box-shadow: 0 0 var(--rock-blue);
    background-color: var(--right-green);
}
div.buttonBoard > button.paper{
    transition: all ease-in-out 0.03s;
    box-shadow: var(--button-shadow) var(--button-shadow) var(--paper-red);
}
div.buttonBoard > button.paper:active{
    top: var(--button-shadow);
    left: var(--button-shadow);
    box-shadow: 0 0 var(--paper-red);
    background-color: var(--right-green);
}
div.buttonBoard > button.scissors{
    transition: all ease-in-out 0.03s;
    box-shadow: var(--button-shadow) var(--button-shadow) var(--scissors-yellow);
}
div.buttonBoard > button.scissors:active{
    top: var(--button-shadow);
    left: var(--button-shadow);
    box-shadow: 0 0 var(--scissors-yellow);
    background-color: var(--right-green);
}
div.buttonBoard > button > svg{
    width: var(--button-dimension);
    height: var(--button-dimension);
}

footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.copyrightCard{
    font-size: var(--copyright-text);
}
div.copyrightCard > p > a.license{
    color: var(--wrong-red);
    text-decoration: none;
}
div.copyrightCard > p > a.license:hover{
    text-decoration: underline;
}

.rockBlue{
    background-color: var(--rock-blue) !important;
}
.paperRed{
    background-color: var(--paper-red) !important;
}
.scissorsYellow{
    background-color: var(--scissors-yellow) !important;
}


@keyframes playerSide {
    0%{
        background-color: none;
    }
    50%{
        background-color: var(--right-green);
    }
    100%{
        background-color: none;
    }
}

@keyframes aiSide {
    0%{
        background-color: none;
    }
    50%{
        background-color: var(--wrong-red);
    }
    100%{
        background-color: none;
    }
}

@keyframes selecting {
    0%{
        background-color: white;
    }
    50%{
        background-color: var(--display-grey);
    }
    100%{
        background-color: white;
    }
}