@font-face {
    font-family: 'Bahnschrift';
    src: local('☺︎'),
        url('../fonts/bahnschrift.ttf') format('ttf'),
        url('../fonts/bahnschrift.woff') format('woff');
}

:root{
    --display-black: #000000;
    --display-grey: #F1F1F1;
    --right-green: #A6FFA6;
    --rock-blue: #6262FFAA;
    --paper-red: #FF5A5A77;
    --scissors-yellow: #FFED4ABB;
    --announcer-card: min(80%, 90rem);
    --announcer-thematic: clamp(4rem, 10vw, 10rem);
    --announcer-text: clamp(1rem, 5vw, 5rem);
    --score-board-text: clamp(2rem, 4vw, 4rem);
    --choice-card: min(50%, 30rem);
}

html{
    font-size: 10px;
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container, header, main, footer{
    width: 100%;
    font-family: 'Bahnschrift', Helvetica, sans-serif;
}

header{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.announcerCard{
    width: var(--announcer-card);
    text-align: center;
}
div.announcerCard::before{
    width: 100%;
    height: clamp(0.5rem, 1vw, 0.8rem);
    display: flex;
    position: relative;
    top: var(--announcer-thematic);
    background-color: black;
    content: '';
}
div.announcerCard > .announcerText{
    font-size: var(--announcer-text);
}

main{
    height: 75vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
div.scoreBoard{
    width: 100%;
    height: clamp(5rem, 10vw, 12rem);
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, min(35%, 30rem));
}
div.playerScore, div.aiScore{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div.playerScore > div, div.aiScore > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--score-board-text);
}
div.playerScore > div.player, div.aiScore > div.ai{
    border-right: 0.3rem solid var(--display-black);
    font-weight: 600;
}
div.displayBoard{
    width: 100%;
    height: min(40%, 30rem);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, var(--choice-card));
}
div.displayBoard > div{
    display: flex;
    justify-content: center;
    background-color: var(--display-grey);
}
div.displayBoard > div.playerChoice{
    border-right: 0.5rem solid var(--display-black);
}
div.playerChoice > object, div.aiChoice > object{
    width: 45%;
}
div.buttonBoard{
    border: 1px solid black;
    width: 100%;
    height: min(25%, 20rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.buttonBoard > button{
    position: relative;
    padding: min(4vw, 3rem);
    border: none;
    border-radius: 50%;
    background-color: var(--display-grey);
}
div.buttonBoard > button.rock{
    transition: all ease-in-out 0.03s;
    box-shadow: min(1vw, 0.8rem) min(1vw, 0.8rem) var(--rock-blue);
}
div.buttonBoard > button.rock:active{
    top: min(1vw, 0.8rem);
    left: min(1vw, 0.8rem);
    box-shadow: 0 0 var(--rock-blue);
}
div.buttonBoard > button.paper{
    transition: all ease-in-out 0.03s;
    box-shadow: min(1vw, 0.8rem) min(1vw, 0.8rem) var(--paper-red);
}
div.buttonBoard > button.paper:active{
    top: min(1vw, 0.8rem);
    left: min(1vw, 0.8rem);
    box-shadow: 0 0 var(--paper-red);
}
div.buttonBoard > button.scissors{
    transition: all ease-in-out 0.03s;
    box-shadow: min(1vw, 0.8rem) min(1vw, 0.8rem) var(--scissors-yellow);
}
div.buttonBoard > button.scissors:active{
    top: min(1vw, 0.8rem);
    left: min(1vw, 0.8rem);
    box-shadow: 0 0 var(--scissors-yellow);
}
div.buttonBoard > button > object{
    width: min(10vw, 8rem);
    height: min(10vw, 8rem);
}
/* Center buttons.
    Set border radius to 50%.
    Adjust width of objects.
    Space-evenly buttons.
    */

footer{
    height: 10vh;
}